@import url('https://fonts.googleapis.com/css2?famil=Open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*Nav*/

.hero {
    background-image: url('https://user-images.githubusercontent.com/73184313/127027934-15e2bf44-2588-4193-ad3d-3c7e1ef2b19f.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
